@model IList<Data.MongoFramework.ModelMate.M_Post>
@using Tarot.Models;
@using Lib.ClassExt;
@{
    ViewBag.Title = "塔罗来了最新动态";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    ViewBag.keywords = "塔罗来了最新动态";
    ViewBag.description = "塔罗来了最新动态";
}
<style type="text/css">
    .div_postTitle{ border-bottom:1px dotted gray; margin-top:8px; padding-bottom:3px;}
</style>
<div style="float: left; width: 680px; border: 0px solid red; padding-right:20px;">
    <div style="font-size:14px;">
        <a href="/"> 首页</a> >>  <a href="@Url.Content("~/postlist/news")">
        @(
        Model.Count == 0 ? BLL.Enums.Mpost_PostType.News.ToLocalLanguage() : ((BLL.Enums.Mpost_PostType)Model[0].PostType).ToLocalLanguage()
        )
        </a>
    </div>
    <br />
    @foreach (var item in Model)
    {
        <div class="div_postTitle">
            <div style="float: left" class="textoverflow"><a href="/posting/newsdetail/@item._id.ToString()">@item.Title</a> </div>
            <div style="float: right; width:70px; text-align:right; color:Gray" class="divInLineBlock textoverflow">@(item.ReplyCount + "/" + item.PopularityCount)</div>
            <div style="float: right; width:150px; text-align:right; color:Gray" class="divInLineBlock">@item.LastModifyTime.ToString("yyyy-MM-dd HH:mm:ss")</div>
            <div style="float: right; width:100px; text-align:right" class="divInLineBlock textoverflow">
                <img src="../../favicon.ico" />塔罗来了
            </div>
            <div style="clear: both">
            </div>
        </div>
    }
    <div class="sabrosus">
        @(Html.myPager((int)ViewBag.PageCount,
                    (int)ViewBag.CurrentPage, x => Url.Action("News", new { id = x })))
    </div>

</div>
@Html.Partial("_LayoutSiteContentRightPart")
<div style="clear: both">
</div>
