@model UserManager.Framework.Model.Auth_UserAccount
           @using Authorizations.Framework.Enums;
@using Lib.ClassExt;
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@section HtmlMetas{
}


@using (Html.BeginForm()) {
    <fieldset >
        <legend>@(ViewBag.IsEdit==true?"编辑用户":"添加用户")</legend>
        
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(m=>m.TimeMark)
        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <br />

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>
        <br />

        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicationID)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ApplicationID, new SelectList(ApplicationEnum.Admin.ToDictionary(), "key", "value")
                                , new { onchange="changeApplication(this.value,"+Model.UserID+")" })
            @Html.ValidationMessageFor(model => model.ApplicationID)
        </div>
        <script type="text/javascript">
            if(@(ViewBag.IsEdit == true?1:0)){
                $("#ApplicationID").attr("disabled","disabled");
            }
        </script>
        <br />
        <div class="editor-label">
            角色
        </div>
        <div class="editor-field" id="div_roles">
            
        </div>
        <br />
        @Html.ValidationSummary(true)
        <p>
            <input type="submit" value="@(!ViewBag.IsEdit?"Add":"Save")" />
            @*<input type="button" value="123" onclick="$('.l-dialog-waittingdialog,.l-window-mask,.l-dialog', window.parent.document).remove();" />*@
        </p>
    </fieldset>
}
<script type="text/javascript">
    function changeApplication(id, uid) {
        $.get("/usermanager/getrolesbyappid?rd="+Math.random(), { id: id, userid: uid }, function (json) {
            json = json.Data;
            var htmls = [];
            for (var i = 0; i < json.length; i++) {
                htmls.push("<div style='width:100px; display:inline-block'>",
                            "<input type='checkbox' name=ckbrole value=", json[i].RoleID)
                if (json[i].Checked)
                    htmls.push(" checked ")
                htmls.push(" />", json[i].RoleName,
                            "&nbsp;&nbsp;&nbsp;</div>");
                if (i % 3 == 0 && i>0) htmls.push("<br>")
            }
            document.getElementById("div_roles").innerHTML = htmls.join('');
        })
    }
</script>
<!--表单验证 -->
<script>
    function ValidateForm() {
    	//更多validate验证方法见 jquery.validate.MethodsExt.js
        $("form").validate({
            rules: {    
            		'UserID':{required: true,number: true},
	                'UserName':{required: true,maxlength: 20},
//	                'Password':{required: true,maxlength: 16},
	                'State':{required: true,number: true},
	                'Comment':{maxlength: 200},
	                'ApplicationID':{required: true,number: true}
            },
            messages: {
                	UserID:{required: 'UserID不能为空',number: 'UserID必须为数字'},
	                UserName:{required: 'UserName不能为空',maxlength: 'UserName长度不能超过20'},
	                Password:{required: 'Password不能为空',maxlength: 'Password长度不能超过16'},
	                State:{required: 'State不能为空',number: 'State必须为数字'},
	                TimeMark:{required: 'TimeMark不能为空'},
	                Comment:{maxlength: 'Comment长度不能超过200'},
	                ApplicationID:{required: 'ApplicationID不能为空',number: 'ApplicationID必须为数字'}
            }
        });
    }
    $("document").ready(function () {
        ValidateForm();
        changeApplication(document.getElementById("ApplicationID").value,@Model.UserID);
    });
</script>