@using Authorizations.Framework.Enums;
@using Lib.ClassExt;
@using BLL.Enums;
@model Data.Framework.Model.Tag
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>@(ViewBag.IsEdit == true ? "编辑" : "添加")</legend>
        @Html.HiddenFor(model => model.TagID)
        <div class="editor-label">
            @Html.LabelFor(model => model.TagName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TagName) @Html.ValidationMessageFor(model => model.TagName)
        </div>
        <br>
        @*<div class="editor-label">
            @Html.LabelFor(model => model.Popularity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Popularity) @Html.ValidationMessageFor(model => model.Popularity)
        </div>
        <br>
        <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State) @Html.ValidationMessageFor(model => model.State)
        </div>
        <br>*@
        @*  selet example code
        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicationID)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ApplicationID, new SelectList(ApplicationEnum.Admin.ToDictionary(), "key", "value"))
            @Html.ValidationMessageFor(model => model.ApplicationID)
        </div>*@
        @Html.ValidationSummary(true)
        <p>
            <input type="submit" value="@(!ViewBag.IsEdit ? "Add" : "Save")" />
            @*<input type="button" value="123" onclick="$('.l-dialog-waittingdialog,.l-window-mask,.l-dialog', window.parent.document).remove();" />*@
        </p>
    </fieldset>
}
<!--表单验证 -->
<script>
    function ValidateForm() {
        //更多validate验证方法见 jquery.validate.MethodsExt.js
        $("form").validate({
            rules: {
                'TagName': { required: true, maxlength: 10 }
            },
            messages: {
                TagID: { required: 'TagID不能为空', number: 'TagID必须为数字' },
                TagName: { required: 'TagName不能为空', maxlength: 'TagName长度不能超过10' },
                Popularity: { required: 'Popularity不能为空', number: 'Popularity必须为数字' },
                State: { required: 'State不能为空', number: 'State必须为数字' }
            }
        });
    }
    $("document").ready(function () {
        ValidateForm();
    });
</script>
